  <!-- css -->
<style>
 /* body {
  background-color: green;
} */
.text{
           text-align: center;
           font-size: 50px;
           font-style: italic;
  }
.list{
    text-align: center;
  }
table {
  width: 75%;
  border-collapse: collapse;
  margin: auto;
  
  }
table.center {
  margin-left: auto; 
  margin-right: auto;
  }
th {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  background-color: rgb(242, 98, 122);
  color: white;
  }
th, td {
  padding: 8px;
  text-align: left;
  }
tr:nth-child(odd) {
  background-color: #f2f2f2;
    }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
li {
  float: left;
  }
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  }

h1{
  font-family: fantasy;
  color: black;
  font-weight: bold;
  padding-bottom: 0%;
  }
a{
  font-size: 25px;
  font-family: fantasy;
  }
mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background:  palevioletred ;
    color: white;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
  }
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
  }
mat-sidenav-container {
    height: calc(100vh - 65px);
  }
.menu-button {
  color: black;
    display: block;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
.menu-button a{
  transition: all 0.3s ease 0s;
}  
.menu-button a:hover{
  color: palevioletred;
}

mat-icon {
    margin-right: 8px;
}
/* li .menu-button{
  color: #f2f2f2;
  } */
/* .search-opt{
      width: 15%;
      margin: 50px 20px 0 200px;
  } */
.del {
  background-color: transparent;
  color: rgb(71, 70, 70);
  /* padding: 6px 50px; */
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border: none;
  font-size: 1.5em;
  margin: 34px 2px;
  }
.del:hover {
  opacity:1;
  color: red;
  }
  .example-form {
  position: absolute;
  right: 110px;
  width: 300px;
  cursor: pointer;
  opacity: 0.9;
  padding: 10px 50px 0px 5px;
  margin-right: 100px;
  margin-top: 20px;
  border: black;
  background: #c2bfbf;
  font-size: xx-small;
}
* {
  box-sizing: border-box;
}
.example-form:hover {
  opacity:1;
  color:  palevioletred;
  }

.ad {
  background-color: rgb(242, 98, 122);
  border: none;
  color: white;
  padding: 10px 10px 19px 10px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  margin: 20px 2px;
  /* cursor: pointer; */
  }
.ad:hover:hover {
  opacity:1;
  }
  .dropdown {
  position: relative;
  display: inline-block;
  font-family: fantasy;
  color: black;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  rgb(0, 0, 0, 0.3);
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* .topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  
} */

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */
ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  /* padding: 30px 10%; */
}
.nav_links{
  list-style: none;
}
.nav_links li{
  display: inline;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
  color: black;
}
.nav_links li a:hover{
  color: palevioletred;
}
.logout{
  text-decoration: none;
  color: black;
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.logout li a:hover{
  color: palevioletred;
}
.report{
  font-family: fantasy;
  color: black;
  font-weight: bold;
  padding: 0px;
  font-size: medium;
  margin-top: 0px;
  /* margin-bottom: 20px;   */
}
.report-btn{
  background-color: transparent;
  font-family: fantasy;
  border: none;
  color: black;
  padding: 0px;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;

}
</style>



<!-- html code -->
<!-- TopNavBar  -->
<ul>
  <button (click)="opened=!opened" mat-button class="menu-button"><mat-icon>menu</mat-icon></button>
  <nav>
    <ul class="nav_links">
       <li> <a routerLink="/dashboard"><mat-icon>home</mat-icon>Home</a></li>
       <li><a routerLink="/add" ><mat-icon>add</mat-icon>Add Items</a></li>
       <li><a routerLink="/product" ><mat-icon>list</mat-icon>List</a></li>
    </ul>
</nav>
 <a class="logout" routerLink="/home">
  <mat-icon aria-hidden="false" aria-label="Example Logout icon">logout</mat-icon>Logout</a>
</ul>




<!-- SideNavBar  -->
<mat-sidenav-container>
  <mat-sidenav  class="mat-elevation-z8" mode="side" [(opened)]="opened">
    
          <button mat-button class="menu-button" routerLink="/dashboard" >  
              <mat-icon>home</mat-icon>
              <span>Home</span>
          </button>
          <button mat-button class="menu-button"  routerLink="/add">
              <mat-icon>add</mat-icon>
              <span>Add Products</span>
            </button>
          <button mat-button class="menu-button" routerLink="/product">
              <mat-icon>list</mat-icon>
              <span>Show Products</span>
          </button>
          
          <button mat-button class="menu-button">
              <mat-icon>help</mat-icon>
              <span>Help</span>
          </button>
  </mat-sidenav>
 <mat-sidenav-content>






<!-- content -->
<!-- search -->
<form class="example-form">
  <mat-form-field class="example-full-width">
  <span matPrefix> </span>
  <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
  <button matSuffix mat-button><mat-icon >search</mat-icon></button>
  </mat-form-field>
  <!-- <br/> -->
  {{search}}
  </form>


   <!-- delete -->
 <div  style="float:right">  
  <button class="del" (click)="DeleteData()"> <mat-icon>delete</mat-icon></button>
      </div>  
     
  <!-- add  -->
<div style="float: right">
<button class="ad" routerLink="/add" ><mat-icon>add</mat-icon>Add Products</button></div> 

<!-- help -->
<h1 style="font-family:fantasy"><mat-icon>help</mat-icon>products list</h1>

  <!-- search -->
  <!-- <div class="list"> -->
    <!-- <mat-icon>search</mat-icon>
    <mat-form-field>
      <input  matInput class="search"  (keyup)="applyFilter($any($event.target).value)" placeholder="Search...">
    </mat-form-field>
</div> -->
<!-- <button matSuffix mat-button><input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
<mat-icon >search</mat-icon></button> -->





  <!-- Generate Report -->
  
    <button mat-button  class="report">
      <div class="dropdown">
        <mat-icon>description</mat-icon>
        <span>Generate Report</span>
          <div class="dropdown-content">
            <button class="report-btn">Excel</button><br>
            <button class="report-btn" (click)="pdf()">PDF</button>
            
          </div></div>
    </button>
 


       

<!--table  -->
<div style="padding: 20px 20px 20px 20px" class="mat-elevation-z8">
  
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" > 

    

    <!-- select box -->
    <ng-container matColumnDef="checked">
      <th mat-header-cell  *matHeaderCellDef > 
        <mat-checkbox  (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"  
          [indeterminate]="selection.hasValue() && !isAllSelected()">
</mat-checkbox> 
</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null"
                      [checked]="selection.isSelected(element)" [(ngModel)]="element.checked">
        </mat-checkbox>
      </td>
    </ng-container> 
 
    <!-- data -->
     <ng-container matColumnDef="productId">
       <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by number"> ID </th>
       <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
     </ng-container> 
     <ng-container matColumnDef="productName">
       <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
       <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
     </ng-container>
     <ng-container matColumnDef="productType">
       <th mat-header-cell mat-sort-header *matHeaderCellDef> Type </th>
       <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
     </ng-container>
     <ng-container matColumnDef="productDesc">
       <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
       <td mat-cell *matCellDef="let element"> {{element.productDesc}} </td>
     </ng-container>
     <ng-container matColumnDef="productQuantity">
         <th mat-header-cell mat-sort-header *matHeaderCellDef> Quantity </th>
         <td mat-cell *matCellDef="let element"> {{element.productQuantity}} </td>
     </ng-container>
     <ng-container matColumnDef="productPrice">
         <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
         <td mat-cell *matCellDef="let element"> {{element.productPrice}} </td>
     </ng-container>
     <ng-container matColumnDef="Productmul">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Mul Desc </th>
      <td mat-cell *matCellDef="let element"> {{element.Productmul}} </td>
  </ng-container>
  <ng-container matColumnDef="upload">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> file-upload</th>
    <td mat-cell *matCellDef="let element"> {{element.upload}} </td>
</ng-container>
<ng-container matColumnDef="check">
  <th mat-header-cell mat-sort-header *matHeaderCellDef> Details</th>
  <td mat-cell *matCellDef="let element"> {{element.check}} </td>
</ng-container>
     
  <!-- data -->

     
     <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;" > </tr>
   </table>

  
  <!-- pagination -->
    <div style="width: 100%">
      <mat-paginator 
      [length]="100" [pageSize]="7" [pageSizeOptions]="[7, 14, 25]" showFirstLastButtons>
      </mat-paginator>
    </div>
 </div>
 
